# VCS / IDE
.git
.gitignore
.gitattributes
.idea
.vscode
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.env.*
dist/
build/
htmlcov/
.coverage
.mypy_cache/
.pytest_cache/
.cache/

# Node / Front
node_modules/
*.log

# SO
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
